@media screen and (max-width: 1000px) {
    #waterfall {
        width: 650px;
    }

    #waterfall-ios {
        display: none;
        width: 650px;
    }

    #waterfall-shadow {
        height: 20px;
        left: calc(50% - 24px);
        position: absolute;
        bottom: 20px;
        width: 100px;
    }
}