@font-face {
    font-family: "Gotham";
    font-weight: 100;
    src: url(../assets/fonts/Gotham-Thin.otf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 200;
    src: url(../assets/fonts/Gotham-XLight.otf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 300;
    src: url(../assets/fonts/Gotham-Light.otf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 400;
    src: url(../assets/fonts/Gotham-Book.otf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url(../assets/fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url(../assets/fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 900;
    src: url(../assets/fonts/Gotham-Black.otf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 950;
    src: url(../assets/fonts/Gotham-Ultra.otf);
}

html, body {
    margin: 0;
}

#menu {
    display: flex;
    flex-direction: column;
    padding: 130px 100px 0 0;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
}

#menu a {
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Gotham", sans-serif;
    font-size: 45px;
    font-weight: 500;
    padding: 10px 0;
    text-decoration: none;
}

#menu a:hover {
    color: rgba(0, 0, 0, 0.41);
}

#mobile-menu-container {
    display: none;
}

#modal {
    align-items: center;
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#modal-background {
    background: #00000099;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.modal-item {
    align-items: center;
    display: none;
    background: #FFFFFF;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    padding: 30px 50px;
    width: calc(100% - 100px - 50px);
    z-index: 5;
}

.modal-item h1 {
    color: #BADAFD;
    font-family: "Gotham", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.modal-item h2 {
    color: #AFAFAF;
    font-family: "Gotham", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.modal-item img, .modal-item video {
    border-radius: 10px;
    max-height: 250px;
    object-fit: contain;
    overflow: hidden;
    /* width: 90%; */
}